{% extends "layout.html" %}

{% block title %}WTF{% endblock %}

{% block body %}

{% if current %}
<div class="row">
    <center>
        <h1><small>You're the {{ number }} person to say:</small><br>
        "Fuck {{ current.eff|safe }}!"</h1>
    </center>
</div>
<div class="row" id="share">
    <center>
        Share: <a href="{{ current.short_url }}">{{ current.short_url }}</a>
    </center>
</div>
{% endif %}

<div class="row">
    <div class="span6">
        <div class="row">
            <div class="span6">
                <h2>Popular</h2>
            </div>
        </div>
        {% for doc in popular %}
            <div class="row">
                <div class="span5">
                    <a href="/{{ doc.eff|safe }}">
                        Fuck {{ doc.eff|safe }}!</a> ({{ doc.count }})
                </div>
            </div>
        {% else %}
            <em>Unbelievable.  No entries here so far</em>
        {% endfor %}
    </div>

    <div class="span6">
        <div class="row">
            <div class="span6">
                <h2>Recent</h2>
            </div>
        </div>
        {% for doc in recent %}
            <div class="row">
                <div class="span6">
                    <a href="/{{ doc.eff|safe }}">
                        Fuck {{ doc.eff|safe }}!</a>
                </div>
            </div>
        {% else %}
            <em>Unbelievable.  No entries here so far</em>
        {% endfor %}
    </div>
</div>

{% endblock %}

